* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

/* banner styles */
.banner {
    background-image: url(../images/banner/banner1.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.banner .banner-text {
    position: absolute;
    top: 250px;
    right: 230px;
    text-align: right;
    font-weight: 900;
    font-size: 35px;
    line-height: 76px;
    color: #151414;
}

.banner .banner-description {
    max-width: 490px;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-top: 25px;
    margin-bottom: 32px;
}

.contact-btn {
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    border: 0;
    background: #F15B22;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

/* failure section */
.failure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 130px 320px 0 206px;
}

.failure .failure-text {
    max-width: 420px;
    margin: 0 auto;
}

.failure .failure-text .failure-text-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.failure .failure-text p {
    margin-top: 25px;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.failure-text ul li {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.failure-text ul li i {
    color: #16D887;
    margin-right: 10px;
}

/* lesson section */
.lesson {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 130px 320px 0 206px;
}

.lesson .lesson-text {
    max-width: 420px;
    margin: 0 auto;
}

.lesson .lesson-text .lesson-text-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.lesson .lesson-text p {
    margin-top: 25px;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.lesson-text ul li {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.lesson-text ul li i {
    color: #16D887;
    margin-right: 10px;
}

/* plans section */
.plan {
    margin-top: 200px;
}

.plan h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    text-align: center;
}

.plan .plan-items {
    display: flex;
    justify-content: space-between;
    margin: 58px 250px 130px 250px;
}

.plan .plan-item img {
    align-content: center;
}

.plan .plan-item h4 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.plan .plan-item p {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/* contact section */
.contact {
    margin-top: 130px;
    background-image: linear-gradient(to right, rgba(241, 91, 34, 1), rgba(241, 91, 34, 0)),
        url(../images/watch.png);
    background-size: cover;
    width: 1200px;
    height: 300px;
    border-radius: 8px;
    margin: 0 auto;
}

.contact .contact-title h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    padding: 60px 616px 24px 65px;
}

.call-btn {
    width: 160px;
    height: 64px;
    left: 294px;
    top: 2399.26px;
    margin-left: 64px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F15B22;
    border: none;
    border-radius: 5px;
}

/* footer */
.footer-item {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    background-color: #151414;
    width: 100%;
    height: 577px;
    left: 0px;
    top: 2652.26px;
}

.footer-info {
    padding: 130px 0 130px 230px;
}

.footer-info h4 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
}

.footer-item .footer-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 24px;
    max-width: 485px;
}

.footer-info .footer-contact .phone {
    margin-top: 16px;
    margin-bottom: 32px;
}

.footer-info .footer-contact p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer-item .newsteller {
    max-width: 325px;
    margin: 150px 230px 150px 0;
}

.newsteller h4 {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
}

.newsteller input {
    border: 1px solid #F8F8F8;
    border-radius: 5px;
    background-color: #151414;
    padding: 20px 80px 20px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}

.subscribe-btn{
    width: 160px;
    height: 64px;
    left: 294px;
    top: 2399.26px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F15B22;
    border: none;
    border-radius: 5px;
}